<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login Usuário</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <div style="display: none;">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
        <div class="flash-message" data-category="{{ category }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
  {% endwith %}
  </div>
  <div class="login-container">
    <h2>Login</h2>
    <form action="{{ url_for('auth_usuario') }}" method="POST">
      
      <div class="input-group">
        <input type="email" name="email" id="email" required>
        <label for="email">Seu e-mail</label>
      </div>
      
      <div class="input-group">
        <input type="password" name="senha" id="senha" required>
        <label for="senha">Sua senha</label>
      </div>
      
      <button type="submit">Entrar</button>
    </form>
    
    <a href="{{ url_for('recuperar.esqueci_senha') }}" class="esqueci_senha">Esqueci minha senha</a>
    </div>
    <script src="{{ url_for('static', filename='Scripts/layout.js') }}"></script>
<script>
  // Isso garante que os alertas funcionem na index também
  document.addEventListener("DOMContentLoaded", function() {
      if (typeof verificarAlertasDoServidor === "function") {
          verificarAlertasDoServidor();
      }
  });
</script>
    <script src="{{ url_for('static', filename='Scripts/index.js') }}"></script>
</body>
</html>