<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login Usuário</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    <form action="{{ url_for('auth_usuario') }}" method="POST">
      
      <div class="input-group">
        <input type="email" name="email" id="email" required>
        <label for="email">Seu e-mail</label>
      </div>
      
      <div class="input-group">
        <input type="password" name="senha" id="senha" required>
        <label for="senha">Sua senha</label>
      </div>
      
      <button type="submit">Entrar</button>
    </form>
    
    <a href="{{ url_for('recuperar.esqueci_senha') }}" class="esqueci_senha">Esqueci minha senha</a>
    </div>
    <script src="{{ url_for('static', filename='Scripts/index.js') }}"></script>
</body>
</html>