/* Centralizar tela e aplicar imagem de fundo */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('../images/fundo.jpeg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column; 
  height: 100vh;
}

/* Cabeçalho */
header {
  background: #007b8f;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 15px;
  font-size: 24px;
  font-weight: bold;
  width: 100%; /* Garante que o cabeçalho ocupe toda a largura da tela */
  box-sizing: border-box; /* Certifica que o padding não quebra o layout */
}

/* Rodape */
footer {
  background: #007b8f;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  margin-top: auto; /* Faz com que o rodape fique na parte inferior */
  width: 100%; /* Garante que o rodape ocupe toda a largura da tela */
  box-sizing: border-box; /* Certifica que o padding não quebre o layout */
}

/* area principal (formulário de verificação do código) */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Container de login */
.login-container {
  background: white;
  padding: 30px 35px; /* Ajustado o padding */
  border-radius: 10px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 380px; /* Limita a largura */
  text-align: center;
}

/* Título da página */
h2 {
  color: #007b8f;
  font-size: 22px;
  margin-bottom: 20px;
}


/* Contêiner Pai */
.input-group {
  position: relative;
  margin: 25px 0 35px 0;
  text-align: left;
}

.input-group input {
  width: 100%;
  padding: 12px;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  background: transparent;
}

/* Label */
.input-group label {
  position: absolute;
  top: 12px;
  left: 12px;
  color: #888;
  font-size: 16px;
  pointer-events: none;
  transition: all 0.3s ease;
  padding: 0 4px;
}

.input-group input:focus + label,
.input-group input:valid + label { 
  top: -10px;
  left: 8px;
  font-size: 12px;
  color: #007b8f;
  background-color: white;
}

.input-group input:focus {
  border-color: #007b8f;
  outline: none;
}

/* Botao */
.login-container button {
  width: 100%;
  padding: 12px;
  background: #007b8f;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
}

.login-container button:hover {
  background: #005f6e;
}

/* Texto auxiliar */
.login-container p {
  margin-top: 15px;
}

/* Link */
.login-container a {
  color: #007b8f;
  text-decoration: none;
  font-weight: bold;
}

.esqueci_senha {
  padding: 5px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
